// Outguard Dark Style

html {  // Required for body background-color to work.
}

body {
font-family: 'DejaVu Serif', serif;
margin: 1em 10%;
color: #f0f0f0;
background-color: #303030;
}

a {
color: #2086FF;
}

a:visited {
color: #BBBBBB;
}

h1, h2, h3 {
font-family: 'Marcellus', serif;
}

h1 {
font-size: 180%;
color: #f0d0b0;
}

h2 {
font-size: 160%;
text-indent: 0.3em;
color: #020202;
background-color: #ab8060;
}

h3 {
font-size: 140%;
text-indent: 0.3em;
}

table {
margin: 0 auto;
}

div.fin {
width:100px;
height:24px;
background-image:url("image/fin-curl.png");
margin: 2em auto;
}

.iclink {
float:right;
margin: 0.18em;
}
