body {
font-family: 'DejaVu Serif', serif;
margin: 1em 10%;
}

h1 {
font-family: 'Marcellus', serif;
font-size: 250%;
text-align: center;
}

h3 {
font-family: 'Marcellus', serif;
font-size: 140%;
}

table {
margin: 0 auto;
}

div.fin {
width:100px;
height:24px;
background-image:url("image/fin-curl.png");
margin: 2em auto;
}
